.header-content{
    min-height: 30vh;
    background: linear-gradient(rgba(75, 214, 235, 0.3), rgba(141, 39, 174, 0.5));
    flex-direction: column;
}
.header-title{
    font-size: 2.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}